

.heading {
  font-size: 50px;
  word-spacing: 100px;
  text-align: center;
  color: white;
}

.result {
  font-size: 75px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: white;
}

.playerScoreContainer{
  position: relative;
  left: 22px;
}
.playerSelectionContainer {
height: 150px;
position: absolute;
top: 55%;
left:30%;
margin: 0;
padding: 0;
}

.borderContainer {
background-color: #4169E1;
border: 3px solid white;
border-radius: 20%;
text-align: center;
  width: 20%;
  right:75%;
  height: 300px;
position: absolute;
margin: 0;
padding: 0;
}

.scoreText{
  color: white;
}


.compScoreContainer{
  position: relative;
  right: 22px;
}

.compSelectionContainer {
height: 150px;
position: absolute;
top: 50%;
right:17%;
margin: 0;
padding: 0;
}

.borderContainer2 {
  background-color: #4169E1;
  border: 3px solid white;
  border-radius: 20%;
text-align: center;
  width: 20%;
  left:75%;
  height: 300px;
position: absolute;
margin: 0;
padding: 0;
}

/* .compScoreContainer{
text-align: center;
    float: right;
    width: 50%;
    height: 100px;
    position: relative;
    left: 5%;
    top: -10px;
}

.compSelectionContainer {
 float:  right;
 width: 65%;
 height: 150px;
 position: absolute;
 display: inline-grid;
 top: 45%;
 margin: 0;
 padding: 0; */


}


.playersSelectionImg {
 position: absolute;
 margin-left: auto;
 margin-right: auto;
 left: 0;
 right: 0;
 top: 10%;
}



.compsSelectionImg {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 10%;
}

.gameScoreP {
  margin-right: 50px;
  position: relative;
  top: 20px;
  color: white;
}

.scoreText1{
  margin-right: 50px;
}

.scoreText2{
  margin-left: 50px;
}



.gameScoreC {
  margin-left: 50px;
  position: relative;
  top: 20px;
  color: white;
}

.rockButton {
  /* margin: 0 50px 0 50px; */
  width: 110px;
  height: 110px;
  margin: 0 30px 0 30px;
  padding: 0;
  border: 2px solid ;
  border-color:  white;
  border-radius: 100%;
  background: transparent url(images/rock.png) no-repeat center top;
  text-indent: -1000em;
  cursor: pointer;
  outline: none;

}

.paperButton {
  border: 2px solid ;
  border-color:  white;
  border-radius: 100%;
  width: 110px;
  height: 110px;
  margin: 0 30px 0 30px;
  padding: 0;
  background: transparent url(images/paper.png) no-repeat center top;
  text-indent: -1000em;
  cursor: pointer;
  outline: none;

}
button:hover{
background-color: white;
}


.scissorButton {
  width: 110px;
  height: 110px;
  margin: 0 30px 0 30px;
  padding: 0;
  border: 2px solid ;
  border-color:  white;
  border-radius: 100%;
  background: transparent url(images/scissors.png) no-repeat center top;
  text-indent: -1000em;
  cursor: pointer;
  outline: none;

}



.resetButtonContainer {
  white-space: nowrap;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 90%;
}
.resetButton {
  border: 2px solid ;
  border-color: white;
  background-color: transparent;
  width: 100px;
  height: 50px;
  padding: 0;
  cursor: pointer;
  outline: none;
  border-radius: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
 

}

.SelectionButtonContainers{
  white-space: nowrap;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 65%;
}



body {
text-align: center;
font-family: 'Roboto', sans-serif;
background-color: #6495ED;
  margin: 5px;
  margin: 0;
}

.copyRight {
  position: absolute;
  bottom: 0;
  text-align: center;
}

/* .instructionContainer {
  display: inline-block;

} */

/* .scoreContainer {
  position: absolute;
  white-space: nowrap;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 75%; */
